.all-tasks-container {
  margin-top: 150px;
  /* border: 1px solid red; */
  margin-left: 50px;
  height: 60vh;
  /* height: min-content; */
  margin-bottom: 30px;
  width: 20%;
  padding: 30px;
  background-color: #ffccce;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: scroll; */
}

.tasks-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.tasks-wrapper {
  /* border: 1px solid red; */
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  /* justify-content: space-around; */
  /* overflow-y: scroll; */
}


.all-tasks-header {
  color: white;
}

.open-task-modal-button {
  background-color: transparent;
  border:  none;
  padding: 5px;
  /* border: 1px solid red; */
  margin: 8px 0;
  font-size: 18px;
  color: white;
  font-weight: 800;
  text-align: left;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.open-task-modal-button.list {
  margin-top: -1px;
}

.open-task-modal-button:hover,
.add-task-modal-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.add-task-modal-button {
  background-color: white;
  border: none;
  font-size: 18px;
  padding: 7px;
  font-weight: 800;
  color: #ffccce;
  border-radius: 6px;
}

.tasks-button-container {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */

}
