.all-lists-container {
  margin-top: 150px;
  /* border: 1px solid red; */
  margin-left: 50px;
  height: 60vh;
  /* height: min-content; */
  margin-bottom: 30px;
  width: 80%;
  padding: 30px;
  background-color: rgba(251, 204, 205, 0.715);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.all-lists-header {
  color: white;
}

.lists-container {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* display: flex; */
  /* flex-direction: column; */
}

.lists-wrapper {
  /* border: 1px solid red; */
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
}

.list-name-item {
  /* border: 1px solid red; */
  width: fit-content;
  height: fit-content;
  text-align: left;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.open-list-modal-button:hover,
.add-list-modal-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.open-list-modal-button {
  margin: 0;
  width: fit-content;
  /* padding: 0; */
}

.add-list-modal-button {
  background-color: white;
  border: none;
  font-size: 18px;
  padding: 7px;
  font-weight: 800;
  color: rgba(251, 204, 205, 0.715);
  border-radius: 6px;

}
